<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Emplify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div style="margin-top: 50px; text-align: center;">
    <h2>Iniciar Sesión</h2>
    <p>Bienvenido a tu portal de empleado</p>
  </div>

<ion-list lines="full" class="ion-margin-top">
    <ion-item>
      <ion-input
        label="Email"
        labelPlacement="floating"
        type="email"
        [(ngModel)]="email"
        (keyup.enter)="hacerLogin()">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        type="password"
        [(ngModel)]="password"
        (keyup.enter)="hacerLogin()">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="hacerLogin()">
    Entrar
  </ion-button>

</ion-content>
