.app-background { --background: #f2f4f8; }

.section-header {
  padding: 25px 20px 40px 20px; color: white;
  &.blue-bg { background: #0071ad; }
  h2 { margin: 0; font-size: 1.6rem; font-weight: 800; }
  p { margin: 5px 0 0 0; font-size: 0.95rem; opacity: 0.9; }
}

.dashboard-container { padding: 5px 15px 20px 15px; margin-top: -20px; }

.flat-card { background: #ffffff; border: 1px solid #d5d9d9; border-radius: 8px; padding: 16px; margin-bottom: 15px; }

.card-title {
  font-size: 1.05rem; font-weight: 800; color: #0f1111; margin: 0 0 15px 0; display: flex; align-items: center;
  ion-icon { color: #0071ad; font-size: 1.4rem; margin-right: 8px; }
}

/* CAJAS DE SELECT */
.form-container { background: #f8f9fa; border-radius: 8px; border: 1px solid #e7e9e9; }
.form-item { --padding-start: 10px; --inner-padding-end: 10px; --background: transparent; }

/* CALENDARIO MULTIPLE */
.calendar-wrapper {
  border: 1px solid #e7e9e9; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.02);
  ion-datetime { --background: #ffffff; width: 100%; }
}

.btn-corporativo { --background: #0071ad; --color: white; --border-radius: 8px; font-weight: 700; height: 48px; }
