<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedir Días Libres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nueva Solicitud</ion-card-title>
      <ion-card-subtitle>Rellena los datos para enviar tu petición</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-select label="Tipo de permiso" label-placement="floating" [(ngModel)]="tipoSeleccionado" placeholder="Selecciona una opción">
            <ion-select-option *ngFor="let tipo of tiposSolicitud" [value]="tipo.idTipo">
              {{ tipo.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Fecha de inicio" label-placement="floating" type="date" [(ngModel)]="fechaInicio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Fecha de fin" label-placement="floating" type="date" [(ngModel)]="fechaFin"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea label="Comentarios / Motivo" label-placement="floating" [(ngModel)]="comentarios" placeholder="Ej: Viaje familiar o cita médica..."></ion-textarea>
        </ion-item>

      </ion-list>

      <ion-button expand="block" class="ion-margin-top" color="secondary"
                  (click)="enviarSolicitud()"
                  [disabled]="!tipoSeleccionado || !fechaInicio || !fechaFin">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Enviar Petición
      </ion-button>

    </ion-card-content>
  </ion-card>

  <h2 class="ion-margin-start ion-margin-top">Mis Peticiones</h2>

  <ion-list lines="full">
    <ion-item *ngFor="let sol of misSolicitudes">
      <ion-icon name="document-text-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <h3><b>{{ sol.tipoSolicitud?.nombre }}</b></h3>
        <p>{{ sol.fechaInicio | date:'dd/MM/yyyy' }} - {{ sol.fechaFin | date:'dd/MM/yyyy' }}</p>
        <p *ngIf="sol.comentarios" style="font-size: 0.8em; color: gray;"><i>"{{ sol.comentarios }}"</i></p>
      </ion-label>

      <ion-badge slot="end"
        [color]="sol.estado === 'PENDIENTE' ? 'warning' : (sol.estado === 'APROBADA' ? 'success' : 'danger')">
        {{ sol.estado }}
      </ion-badge>
    </ion-item>
  </ion-list>

  <div *ngIf="misSolicitudes.length === 0" class="ion-text-center ion-padding">
    <ion-icon name="calendar-outline" style="font-size: 48px; color: lightgray;"></ion-icon>
    <p style="color: gray;">Aún no has realizado ninguna solicitud.</p>
  </div>

</ion-content>
