ion-tab-bar {
  /* Añade el espacio inteligente de la barra inferior del iPhone */
  padding-bottom: calc(env(safe-area-inset-bottom) + 8px);

  /* Aseguramos que la barra de navegación crezca para alojar el margen sin aplastar los iconos */
  min-height: calc(env(safe-area-inset-bottom) + 56px);

  /* Un toque extra: un bordecito superior sutil para separar la barra del contenido */
  border-top: 1px solid rgba(0,0,0,0.05);
}
