<ion-tabs>
  <ion-tab-bar slot="bottom" color="light" class="custom-tab-bar">

    <ion-tab-button tab="inicio" href="/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuadrante" href="/cuadrante">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Mi Tiempo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mas" href="/mas">
      <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
