ion-tab-bar {
  padding-bottom: calc(env(safe-area-inset-bottom) + 8px);

  min-height: calc(env(safe-area-inset-bottom) + 56px);

  border-top: 1px solid rgba(0,0,0,0.05);

  /* Adaptación al modo oscuro */
  @media (prefers-color-scheme: dark) {
    --background: var(--ion-color-step-50, #1e1e1e);
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
  }
}
