<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">

    <div slot="start" class="app-logo" (click)="goInicio()">
      <img src="assets/icon/logo.png" alt="Emplify Logo" class="header-logo-img" />
      <span class="logo-text">emplify<span class="dot">.</span></span>
    </div>

    <ion-buttons slot="end">

      <ion-button (click)="goTickets()">
        <ion-icon slot="icon-only" name="chatbox-ellipses-outline" class="header-icon"></ion-icon>
      </ion-button>

      <ion-button (click)="goPerfil()">
        <ion-icon slot="icon-only" name="person-circle-outline" class="header-icon"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
