<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">

    <ion-title (click)="goInicio()" class="app-logo">
      emplify<span class="dot">.</span>
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="goTickets()">
        <ion-icon slot="icon-only" name="chatbox-ellipses-outline" class="header-icon"></ion-icon>
      </ion-button>

      <ion-button (click)="goPerfil()">
        <ion-icon slot="icon-only" name="person-circle-outline" class="header-icon"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
