<ion-header class="ion-no-border">
  <ion-toolbar color="light" style="--background: #ffffff;">
    <div slot="start" class="logo-container">
      <h2 style="margin: 0; padding-left: 15px; font-weight: 800; color: #1a1a1a;">
        emplify<span style="color: #3880ff;">.</span>
      </h2>
    </div>

    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
